
<html>
<head>
<%= stylesheet_link_tag    "test", :media => "all" %>
</head>
<body>
<div>
<h1>Ready To Take Test?</h1>
<BUTTON>Start Test</BUTTON>
<% @ques.each do |post| %>
    <h2><%= post.question %></h2>
    <li><%= post.option1 %></li>
    <li><%= post.option2 %></li>
    <li><%= post.option3 %></li>
    <li><%= post.option4 %></li>
    
<% end %>
</div>
</body>